<div class="container">
  <div class="registration-form">
    <a href="/home"> <i class="fas fa-arrow-left"></i> Home page </a>
    <h2>
      <i class="fa-regular fa-user" style="color: #000000"></i> {{ formTitle }}
    </h2>
    <form [formGroup]="userForm" #formDir="ngForm" (ngSubmit)="submitForm()">
      <label for="username">{{ username }}:</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        formControlName="username"
        placeholder="{{ usernamePlaceholder }}"
      />

      <label for="password">{{ password }}:</label>
      <span class="password-input-container">
        <input
          type="password"
          id="password"
          name="password"
          required
          formControlName="password"
          placeholder="{{ passwordPlaceholder }}"
          class="password-input"
        />
        <i
          class="fa-solid fa-eye input-icon"
          (click)="togglePassword()"
          *ngIf="showPassword"
        ></i>
        <i
          class="fa-solid fa-eye-slash input-icon"
          (click)="togglePassword()"
          *ngIf="!showPassword"
        ></i>
      </span>

      <label>
        <input
          type="checkbox"
          id="isSeller"
          name="isSeller"
          formControlName="isSeller"
        />
        I am a seller.
      </label>

      <label class="address-label">{{ address }}:</label>
      <input
        type="text"
        id="street"
        name="street"
        placeholder="{{ street }}"
        formControlName="street"
        required
      />
      <input
        type="number"
        id="streetNumber"
        name="streetNumber"
        placeholder="{{ streetNumber }}"
        formControlName="streetNumber"
        min="0"
        required
      />
      <input
        type="text"
        id="city"
        name="city"
        placeholder="{{ city }}"
        required
        formControlName="city"
      />
      <input
        type="text"
        id="state"
        name="state"
        placeholder="{{ state }}"
        formControlName="state"
        required
      />
      <input
        type="text"
        id="country"
        name="country"
        placeholder="{{ country }}"
        formControlName="country"
        required
      />

      <button type="submit">{{ submitButtonText }}</button>
      <div *ngIf="formSucess" class="form-sucess">
        <p>All done!</p>
      </div>
      <label class="login-warning"
        >Already have an account? <a href="/login">Login now</a></label
      >
    </form>
  </div>
</div>
