<div class="container">
  <div class="registration-form">
    <a href="/home">
      <span style="margin-right: 8px">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span>
        <i class="fa-solid fa-house" style="color: var(--purple)"></i>
      </span>
      Home page
    </a>
    <h2>
      <i class="fa-regular fa-user" style="color: #000000"></i> {{ formTitle }}
    </h2>
    <form [formGroup]="userForm" #formDir="ngForm" (ngSubmit)="submitForm()">
      <label for="username">
        <i class="fa-solid fa-user"></i> {{ username }}:</label
      >
      <input
        type="text"
        id="username"
        name="username"
        required
        formControlName="username"
        placeholder="{{ usernamePlaceholder }}"
        [ngClass]="{
          'invalid-input':
            userForm.get('username')!.errors?.['required'] &&
            userForm.get('username')!.invalid &&
            formDir.submitted
        }"
      />

      <label for="password"
        ><i class="fa-solid fa-key"></i> {{ password }}:</label
      >
      <span class="password-input-container">
        <input
          type="password"
          id="password"
          name="password"
          required
          formControlName="password"
          placeholder="{{ passwordPlaceholder }}"
          class="password-input"
          [ngClass]="{
            'invalid-input':
              userForm.get('password')!.errors?.['required'] &&
              formDir.submitted &&
              userForm.get('password')!.invalid
          }"
        />
        <i
          class="fa-solid fa-eye input-icon"
          (click)="togglePassword()"
          *ngIf="showPassword"
        ></i>
        <i
          class="fa-solid fa-eye-slash input-icon"
          (click)="togglePassword()"
          *ngIf="!showPassword"
        ></i>
      </span>

      <label for="repassword"
        ><i class="fa-solid fa-key"></i> {{ repassword }}:</label
      >
      <span class="password-input-container">
        <input
          type="password"
          id="repassword"
          name="repassword"
          required
          formControlName="repassword"
          placeholder="{{ repasswordPlaceholder }}"
          class="password-input"
          [ngClass]="{
            'invalid-input':
              userForm.get('repassword')!.errors?.['required'] &&
              formDir.submitted &&
              userForm.get('repassword')!.invalid
          }"
        />
        <i
          class="fa-solid fa-eye input-icon"
          (click)="toggleRepassword()"
          *ngIf="showRepassword"
        ></i>
        <i
          class="fa-solid fa-eye-slash input-icon"
          (click)="toggleRepassword()"
          *ngIf="!showRepassword"
        ></i>
      </span>

      <!-- <label>
        <input
          type="checkbox"
          id="isSeller"
          name="isSeller"
          formControlName="isSeller"
        />
        I am a seller.
      </label> -->

      <label class="address-label"
        ><i class="fa-solid fa-street-view"></i> {{ street }}:</label
      >
      <input
        type="text"
        id="street"
        name="street"
        placeholder="{{ street }}"
        formControlName="street"
        required
        [ngClass]="{
          'invalid-input':
            userForm.get('street')!.errors?.['required'] &&
            formDir.submitted &&
            userForm.get('street')!.invalid
        }"
      />

      <label class="address-label"
        ><i class="fa-solid fa-hashtag"></i> {{ streetNumber }}:</label
      >
      <input
        type="number"
        id="streetNumber"
        name="streetNumber"
        placeholder="{{ streetNumber }}"
        formControlName="streetNumber"
        min="0"
        required
        [ngClass]="{
          'invalid-input':
            userForm.get('streetNumber')!.errors?.['required'] &&
            formDir.submitted &&
            userForm.get('streetNumber')!.invalid
        }"
      />

      <label class="address-label"
        ><i class="fa-solid fa-city"></i> {{ city }}:</label
      >
      <input
        type="text"
        id="city"
        name="city"
        placeholder="{{ city }}"
        required
        formControlName="city"
        [ngClass]="{
          'invalid-input':
            userForm.get('city')!.errors?.['required'] &&
            formDir.submitted &&
            userForm.get('city')!.invalid
        }"
      />

      <label class="address-label"
        ><i class="fa-solid fa-flag"></i> {{ state }}:</label
      >
      <input
        type="text"
        id="state"
        name="state"
        placeholder="{{ state }}"
        formControlName="state"
        required
        [ngClass]="{
          'invalid-input':
            userForm.get('state')!.errors?.['required'] &&
            formDir.submitted &&
            userForm.get('state')!.invalid
        }"
      />

      <label class="address-label"
        ><i class="fa-solid fa-globe"></i> {{ country }}:</label
      >
      <input
        type="text"
        id="country"
        name="country"
        placeholder="{{ country }}"
        formControlName="country"
        required
        [ngClass]="{
          'invalid-input':
            userForm.get('country')!.errors?.['required'] &&
            formDir.submitted &&
            userForm.get('country')!.invalid
        }"
      />

      <div class="bottom-container">
        <p-button type="submit">{{ submitButtonText }}</p-button>
        <!-- <div *ngIf="formSucess" class="form-sucess">
          <p>All done!</p>
        </div> -->
        <label class="login-warning"
          >Already have an account? <a href="/login">Login now</a></label
        >
      </div>
    </form>
  </div>
  <img src="../../../assets/group.svg" class="duo-image" />
  <img src="../../../assets/join.svg" class="group-image" />
</div>
