<div class="container">
  <div class="registration-form">
    <a href="/home"> <i class="fas fa-arrow-left"></i> Home page </a>
    <h2>
      <i class="fa-regular fa-user" style="color: #000000"></i> {{ formTitle }}
    </h2>
    <form [formGroup]="userForm" #formDir="ngForm" (ngSubmit)="submitForm()">
      <label for="username">{{ username }}:</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        formControlName="username"
        placeholder="{{ usernamePlaceholder }}"
      />
      <div class="validation-error">
        <p
          *ngIf="
            userForm.get('username')!.errors?.['required'] &&
            userForm.get('username')!.invalid &&
            formDir.submitted
          "
        >
          Name is required
        </p>
      </div>

      <label for="password">{{ password }}:</label>
      <span class="password-input-container">
        <input
          type="password"
          id="password"
          name="password"
          required
          formControlName="password"
          placeholder="{{ passwordPlaceholder }}"
          class="password-input"
        />
        <i
          class="fa-solid fa-eye input-icon"
          (click)="togglePassword()"
          *ngIf="showPassword"
        ></i>
        <i
          class="fa-solid fa-eye-slash input-icon"
          (click)="togglePassword()"
          *ngIf="!showPassword"
        ></i>
      </span>
      <div class="validation-error">
        <p
          *ngIf="
            userForm.get('password')!.errors?.['required'] &&
            userForm.get('password')!.invalid &&
            formDir.submitted
          "
        >
          Password is required
        </p>
      </div>

      <label for="repassword">{{ repassword }}:</label>
      <span class="password-input-container">
        <input
          type="password"
          id="repassword"
          name="repassword"
          required
          formControlName="repassword"
          placeholder="{{ repasswordPlaceholder }}"
          class="password-input"
        />
        <i
          class="fa-solid fa-eye input-icon"
          (click)="toggleRepassword()"
          *ngIf="showRepassword"
        ></i>
        <i
          class="fa-solid fa-eye-slash input-icon"
          (click)="toggleRepassword()"
          *ngIf="!showRepassword"
        ></i>
      </span>
      <div class="validation-error">
        <p
          *ngIf="
            userForm.get('repassword')!.errors?.['required'] &&
            userForm.get('repassword')!.invalid &&
            formDir.submitted
          "
        >
          Password is required
        </p>
      </div>

      <!-- <label>
        <input
          type="checkbox"
          id="isSeller"
          name="isSeller"
          formControlName="isSeller"
        />
        I am a seller.
      </label> -->

      <label class="address-label">{{ address }}:</label>
      <input
        type="text"
        id="street"
        name="street"
        placeholder="{{ street }}"
        formControlName="street"
        required
      />
      <div class="validation-error">
        <p
          *ngIf="
            userForm.get('street')!.errors?.['required'] &&
            userForm.get('street')!.invalid &&
            formDir.submitted
          "
        >
          Street is required
        </p>
      </div>
      <input
        type="number"
        id="streetNumber"
        name="streetNumber"
        placeholder="{{ streetNumber }}"
        formControlName="streetNumber"
        min="0"
        required
      />
      <div class="validation-error">
        <p
          *ngIf="
            userForm.get('streetNumber')!.errors?.['required'] &&
            userForm.get('streetNumber')!.invalid &&
            formDir.submitted
          "
        >
          Street number is required
        </p>
      </div>
      <input
        type="text"
        id="city"
        name="city"
        placeholder="{{ city }}"
        required
        formControlName="city"
      />
      <div class="validation-error">
        <p
          *ngIf="
            userForm.get('city')!.errors?.['required'] &&
            userForm.get('city')!.invalid &&
            formDir.submitted
          "
        >
          City is required
        </p>
      </div>
      <input
        type="text"
        id="state"
        name="state"
        placeholder="{{ state }}"
        formControlName="state"
        required
      />
      <div class="validation-error">
        <p
          *ngIf="
            userForm.get('state')!.errors?.['required'] &&
            userForm.get('state')!.invalid &&
            formDir.submitted
          "
        >
          State is required
        </p>
      </div>
      <input
        type="text"
        id="country"
        name="country"
        placeholder="{{ country }}"
        formControlName="country"
        required
      />
      <div class="validation-error">
        <p
          *ngIf="
            userForm.get('country')!.errors?.['required'] &&
            userForm.get('country')!.invalid &&
            formDir.submitted
          "
        >
          Country is required
        </p>
      </div>

      <div class="bottom-container">
        <button type="submit">{{ submitButtonText }}</button>
        <!-- <div *ngIf="formSucess" class="form-sucess">
          <p>All done!</p>
        </div> -->
        <label class="login-warning"
          >Already have an account? <a href="/login">Login now</a></label
        >
      </div>
    </form>
  </div>
  <img src="../../../assets/group.svg" class="duo-image" />
  <img src="../../../assets/join.svg" class="group-image" />
</div>
