<div id="page-container">
  <app-header></app-header>
  <div class="filter-container">
    <label for="sort-select">Sort by:</label>
    <select
      id="sort-select"
      [(ngModel)]="selectedOption"
      (change)="onSelectChange()"
    >
      <option value="name">Name</option>
      <option value="price">Price</option>
    </select>
    <input
      type="search"
      id="search-input"
      placeholder="Filter products"
      [(ngModel)]="filterValue"
    />
    <button id="search-button" (click)="searchProducts()">Sort</button>
  </div>
  <section class="products">
    <div *ngFor="let product of products" class="product-card">
      <img [src]="product.imageStorageUrl" alt="Product Image" />
      <h2 class="product-name">{{ product.name }}</h2>
      <p class="product-price">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        $ {{ product.price | number: "1.2-2" }}
      </p>
      <!-- <p class="product-quantity">Stock: {{ product.productQuantity }}</p> -->

      <button [routerLink]="['/products', product.productId]" class="see-more">
        See more
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </section>
  <app-footer></app-footer>
</div>
