<div id="page-container">
  <app-header></app-header>
  <div class="filter-container">
    <div class="filter-section">
      <mat-form-field>
        <mat-label for="sort-select">Sort by:</mat-label>
        <mat-select
          id="sort-select"
          [(ngModel)]="selectedOption"
          (selectionChange)="sortProducts()"
        >
          <mat-option value="name">Name</mat-option>
          <mat-option value="priceAsc">Price - Asc</mat-option>
          <mat-option value="priceDesc">Price - Desc</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filter-section">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          [(ngModel)]="filterValue"
          placeholder="Search by name"
        />
      </span>
    </div>

    <div class="filter-section">
      <mat-label for="price-filter">Filter by Price:</mat-label>
      <div class="price-filter-inputs">
        <p-inputNumber
          mode="decimal"
          type="number"
          [minFractionDigits]="2"
          placeholder="Min"
          [(ngModel)]="range[0]"
        />
        <p-inputNumber
          mode="decimal"
          [minFractionDigits]="2"
          type="number"
          placeholder="Max"
          [(ngModel)]="range[1]"
        />
      </div>
      <p-slider
        [(ngModel)]="range"
        [range]="true"
        [min]="0"
        [max]="5000"
      ></p-slider>
      <button
        (click)="applyFilters()"
        pButton
        type="button"
        label="Apply"
        class="filter-price-button"
      ></button>
    </div>
  </div>

  <section class="products">
    <div *ngFor="let product of exibidProducts" class="product-card">
      <img [src]="product.imageStorageUrl" alt="Product Image" />
      <div class="product-img-name-detail">
        <h2 class="product-name">{{ product.name }}</h2>
      </div>

      <p class="product-price">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        $ {{ product.price | number: "1.2-2" }}
      </p>
      <!-- <p class="product-quantity">Stock: {{ product.productQuantity }}</p> -->

      <p-button
        label="See more"
        icon="pi pi-plus"
        iconPos="right"
        severity="info"
        [routerLink]="['/products', product.productId]"
      >
      </p-button>
    </div>
  </section>
  <mat-paginator
    [length]="50"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
  ></mat-paginator>
</div>
<app-footer></app-footer>
