.product-card img {
  border-radius: 8px;
  width: 10rem;
  height: 10rem;
  box-shadow: 0px 2px 6px var(--purple);
  transition: transform 0.2s;
}

.price-filter-inputs {
  display: flex;
  gap: 10px;
}

.price-filter-inputs input {
  flex: 1;
}

.product-card img:hover {
  transform: scale(1.02);
}

.mat-form-field {
  margin: 10px;
  width: 200px;
}

.mat-input-element {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.products {
  padding: 1.1rem 5rem 5rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 6px var(--purple);
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.product-name {
  font-size: 1rem;
  margin-top: 10px;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-price {
  font-size: 1rem;
  color: #000000;
  margin-top: 5px;
}
.product-quantity {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
.product-img-name-detail {
  height: 6.25rem;
}

.see-more {
  font-size: 16px;
  padding: 10px;
  background-color: var(--yellow);
  color: #000000;
  border: none;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.see-more:hover {
  transform: scale(1.05);
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 80%;
}

.filter-section {
  margin: 10px;
}

#search-button {
  padding: 10px 20px;
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#search-button:hover {
  background-color: #0056b3;
}

#search-input::placeholder {
  color: black;
}

#search-button {
  padding: 10px 20px;
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

#search-button:hover {
  background-color: #0056b3;
}

.filter-price-button {
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
}

.filter-price-button:hover {
  background-color: #0056b3;
}

mat-form-field {
  min-height: 80px;
}
