main {
  background-color: #ffffff;
  padding: 1.1rem 5rem 5rem 5rem;
}

.image-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.image {
  height: 528px;
  min-width: 30rem;
  max-width: 49.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: slideInImage 1s ease-in-out;
}

.text-container {
  flex: 1;
  padding: 1.5rem;
  animation: slideInText 1s ease-in-out;
}

p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.4;
}

section {
  margin-bottom: 2rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

@keyframes slideInText {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInImage {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

figure.snip0019 {
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  height: 528px;
  min-width: 30rem;
  max-width: 49.5rem;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip0019 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0019 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0019 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
figure.snip0019 figcaption > div {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 50%;
  position: relative;
}
figure.snip0019 figcaption::before {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  width: 2px;
  content: "";
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0019 h2,
figure.snip0019 p {
  margin: 0;
  padding: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-transition:
    opacity 0.45s,
    -webkit-transform 0.45s;
  transition:
    opacity 0.45s,
    -webkit-transform 0.45s,
    -moz-transform 0.45s,
    -o-transform 0.45s,
    transform 0.45s;
}
figure.snip0019 h2 {
  text-align: right;
  display: inline-block;
  word-spacing: -0.1em;
  font-weight: 300;
  text-transform: uppercase;
  bottom: 0;
  background: rgba(227, 227, 94, 0.5);
  color: var(--purple);
  -webkit-transform: translate3d(50%, 0%, 0);
  transform: translate3d(50%, 0%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0019 h2 span {
  font-weight: 800;
}
figure.snip0019 p {
  display: block;
  bottom: 0;
  text-align: left;
  font-weight: 300;
  top: 0%;
  color: var(--yellow);
  background: rgba(15, 33, 236, 0.5);
  -webkit-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0019 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
  cursor: default;
}
figure.snip0019:hover img {
  opacity: 0.7;
}
figure.snip0019:hover figcaption h2,
figure.snip0019:hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0019:hover figcaption h2 {
  opacity: 1;
}
figure.snip0019:hover figcaption p {
  opacity: 1;
}
figure.snip0019:hover figcaption::before {
  background: #ffffff;
  top: 0px;
  bottom: 0px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
