<div id="page-container">
  <app-header></app-header>
  <main>
    <div class="image-text-container">
      <div class="text-container">
        <p>
          Welcome to ByteStore, your trusted source for all the technology
          products you need. We are dedicated to providing the latest
          innovations and the best IT products to our customers.
        </p>
      </div>
      <figure class="snip0019">
        <img src="../../../../assets/home1.jpg" alt="Image 1" class="image" />
        <figcaption>
          <div>
            <h2>Which <span>tech hub</span> are you in?</h2>
          </div>
          <div>
            <p>
              Explore the latest in technology at ByteStore. From cutting-edge
              gadgets to powerful devices, we've got you covered.
            </p>
          </div>
          <a href="#"></a>
        </figcaption>
      </figure>
    </div>
    <div class="image-text-container">
      <figure class="snip0019">
        <img src="../../../../assets/lamp.jpg" alt="Image 1" class="image" />
        <figcaption>
          <div>
            <h2>ByteStore: Your <span>Gateway</span> to Tech Bliss</h2>
          </div>
          <div>
            <p>
              Embark on a journey of discovery with ByteStore. Embrace the
              future with our state-of-the-art tech products. Resistance is
              futile!
            </p>
          </div>
          <a href="#"></a>
        </figcaption>
      </figure>

      <div class="text-container">
        <p>
          Our mission is to make technology accessible to everyone by offering
          high-quality products at competitive prices. We believe that
          technology can improve people's lives, and we are committed to being a
          part of that progress.
        </p>
      </div>
    </div>
    <div class="image-text-container">
      <div class="text-container">
        <p>
          We understand the transformative potential of technology, and our
          vision is to bring it within everyone's reach. Whether you are a
          professional seeking cutting-edge tools or a family looking for a
          reliable home setup, we are dedicated to making technology accessible
          to all. Our commitment to affordability, combined with quality,
          ensures that you can embrace the future without breaking the bank.
        </p>
      </div>
      <figure class="snip0019">
        <img src="../../../../assets/home2.jpg" alt="Image 2" class="image" />
        <figcaption>
          <div>
            <h2>ByteStore: Unleash the <span>Tech Revolution</span></h2>
          </div>
          <div>
            <p>
              Immerse yourself in the ByteStore experience. Embrace the future
              with cutting-edge technology and redefine your digital lifestyle.
            </p>
          </div>
          <a href="#"></a>
        </figcaption>
      </figure>
    </div>
  </main>
  <app-footer></app-footer>
</div>
