<div class="container">
  <div class="password-form">
    <form
      [formGroup]="passwordForm"
      (ngSubmit)="changePassword()"
      #formDir="ngForm"
    >
      <label class="password-label">New password</label>

      <span class="password-input-container">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="New password"
          formControlName="password"
          required
        />
        <i
          class="fa-solid fa-eye input-icon"
          (click)="togglePassword()"
          *ngIf="showPassword"
        ></i>
        <i
          class="fa-solid fa-eye-slash input-icon"
          (click)="togglePassword()"
          *ngIf="!showPassword"
        ></i>
      </span>

      <label class="password-label">Confirm new password</label>

      <span class="password-input-container">
        <input
          type="password"
          id="repassword"
          name="repassword"
          placeholder="Confirm new password"
          formControlName="repassword"
          required
        />
        <i
          class="fa-solid fa-eye input-icon"
          (click)="toggleRePassword()"
          *ngIf="showRePassword"
        ></i>
        <i
          class="fa-solid fa-eye-slash input-icon"
          (click)="toggleRePassword()"
          *ngIf="!showRePassword"
        ></i>
      </span>

      <button type="submit">Change password</button>
    </form>
  </div>
</div>
