.password-form {
  margin-top: -8rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.password-form label {
  display: block;
}

.password-form input[type="text"],
.password-form input[type="password"],
.password-form input[type="number"],
.password-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.password-form input[type="checkbox"] {
  margin-right: 5px;
}

.password-form button {
  background-color: var(--purple);
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.password-form button:hover {
  background-color: #1f2271;
}

.form-sucess p {
  margin-top: 8px;
  color: green;
}

i {
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
  color: var(--purple);
}

.password-input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
