<app-header></app-header>
<div class="contact-container">
  <div class="contact-info">
    <h1>Welcome to My Contact Page</h1>
    <p>Feel free to get in touch with me through the following channels:</p>
    <p>
      <a href="mailto:arthur.amorim10@gmail.com" class="contact-link"
        ><i class="fas fa-envelope contact-icon"></i>
        arthur.amorim10@gmail.com</a
      >
    </p>
    <p>
      <a href="https://github.com/ruhtar" target="_blank" class="contact-link"
        ><i class="fab fa-github contact-icon"></i> GitHub</a
      >
    </p>
    <p>
      <a
        href="https://www.linkedin.com/in/arthur-amorim-bs/"
        target="_blank"
        class="contact-link"
        ><i class="fab fa-linkedin contact-icon"></i> LinkedIn</a
      >
    </p>
  </div>
</div>
<app-footer></app-footer>
