.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h1,
p,
a {
  text-decoration: none;
  color: #354a57;
  margin-top: 2rem;
}

.contact-info p a {
  text-decoration: none;
  color: #445e6f;
}

.contact-info p a:hover {
  color: var(--yellow); /* Cor de hover desejada */
  transition: color 0.3s ease; /* Transi??o suave da cor */
}

.contact-container {
  height: 80vh;
  padding: 1.25rem;
  text-align: center;
}

.contact-info {
  background-color: white;
  border-radius: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0 0 0.625rem #709ab6;
  transition: box-shadow 0.3s ease;
}

.contact-info:hover {
  box-shadow: 0 0 3rem var(--purple);
}

.contact-icon {
  font-size: 2rem;
  margin-right: 0.625rem;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.contact-p a {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.contact-p:hover .contact-icon {
  transform: scale(1.2);
}

.contact-link {
  text-decoration: none;
  color: #333;
  vertical-align: middle;
}

i {
  color: var(--yellow);
}
