<header>
  <div class="container">
    <img src="./assets/logo.png" alt="logo" />
    <h1>ByteStore</h1>
  </div>
  <nav>
    <ul>
      <i class="fa-solid fa-house" style="color: #ffc16e"></i>
      <li><a href="/home"> Home</a></li>
      <i class="fa-solid fa-bag-shopping" style="color: #ffc16e"></i>
      <li><a href="/products"> Products</a></li>
      <i class="fa-solid fa-cart-shopping" style="color: #ffc16e"></i>
      <li><a href="/cart"> Cart</a></li>
      <i class="fa-solid fa-phone" style="color: #ffc16e"></i>
      <li><a href="/contact"> Contact</a></li>
    </ul>
  </nav>
  <div *ngIf="logged">
    <a href="#" (click)="signOut()">
      <i class="fa-regular fa-user" style="color: #ffc16e"></i> Sign Out</a
    >
  </div>
  <div *ngIf="!logged">
    <a routerLink="/login"
      ><i class="fa-regular fa-user" style="color: #ffc16e"></i> Login</a
    >
  </div>
</header>
