header {
  /* background: linear-gradient(to right, #2a80b9, #7c9eb6); */
  background-color: #2a80b9;
  color: rgb(255, 255, 255);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinhar verticalmente no centro */
  padding-left: 20px;
  padding-right: 30px;
  text-align: justify;
}

nav ul {
  list-style: none;
  margin-right: auto; /* Empurra o menu para a esquerda */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.login {
  margin-right: 20px;
}

.container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 20px;
}

img {
  width: 80px;
}
