header {
    background-color: #131d7c;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}