<app-header></app-header>

<div class="product-details">
  <h1 class="product-name">{{ product.name }}</h1>
  <p class="product-price">Price: R${{ product.price }}</p>
  <div *ngIf="logged" class="quantity-container">
    <p>Quantity:</p>
    <input
      type="number"
      [(ngModel)]="quantityToAdd"
      min="1"
      step="1"
      class="quantity-input"
    />
    <button
      (click)="addToCart(userId, product, quantityToAdd)"
      class="add-button"
    >
      <i class="fa-solid fa-cart-shopping"></i>
      Add to the shopping cart
    </button>
  </div>
  <!-- <img class="product-image" src="product.jpg" alt="Imagem do Produto" /> -->
  <p class="product-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <p class="product-rating">Rated: 4.5/5</p>
  <h2>Reviews</h2>
  <div class="buyer-comments">
    <div class="comment">
      <p class="comment-user">Comprador 1</p>
      <p class="comment-text">TOP DAS GALAXIAS</p>
    </div>
    <div class="comment">
      <p class="comment-user">Comprador 2</p>
      <p class="comment-text">ACHEI BEM PAIA</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
