<app-header></app-header>
<div class="product-details">
  <a href="/products">
    <i class="fas fa-arrow-left" style="margin-bottom: 1rem"></i> Back
  </a>
  <h1 class="product-name">{{ product.name }}</h1>
  <p class="product-price">Price: R${{ product.price | number: "1.2-2" }}</p>
  <img
    class="product-image"
    [src]="product.imageStorageUrl"
    alt="Imagem do Produto"
  />
  <p class="info">Stock: {{ product.productQuantity }} unit(s)</p>
  <p class="info">Rate: {{ product.rate | number: "1.0-0" }}</p>
  <p class="info">Number of reviews: {{ product.timesRated }}</p>

  <div *ngIf="logged" class="quantity-container">
    <p class="info">Quantity:</p>
    <input
      type="number"
      [(ngModel)]="quantityToAdd"
      min="1"
      step="1"
      class="quantity-input"
      pInputNumber
    />
    <button
      (click)="addToCart(userId, product, quantityToAdd)"
      class="add-button"
      pButton
      label="Add to the shopping cart"
      icon="pi pi-cart-plus"
      iconPos="right"
    ></button>
  </div>

  <div class="product-description" *ngIf="product.description">
    <p class="description-title">DESCRIPTION</p>
    <p>
      {{ product.description }}
    </p>
  </div>

  <h2>Reviews</h2>
  <button
    (click)="openModal()"
    pButton
    class="add-button"
    label="Did you like the product? Rate it!"
    *ngIf="logged"
    icon="pi pi-comment"
    iconPos="right"
  ></button>
  <p-dialog
    header="Leave a review!"
    [(visible)]="visible"
    [style]="{ width: '50vw' }"
  >
    <div class="comment-form">
      <p-rating [(ngModel)]="selectedRating" [cancel]="false"></p-rating>
      <h3>Post a Comment</h3>
      <textarea
        pInputTextarea
        rows="5"
        cols="50"
        placeholder="Your Comment"
        [autoResize]="true"
        [(ngModel)]="newCommentText"
      ></textarea>
      <button
        pButton
        type="button"
        label="Review"
        (click)="createReview(newCommentText)"
      ></button>
    </div>
  </p-dialog>
  <div class="buyer-comments">
    <div class="comment" *ngFor="let review of reviews">
      <p class="comment-text">{{ review.reviewText }}</p>
      <p class="comment-user">{{ review.username }} | {{ review.rate }}/5</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
