<app-header></app-header>
<div class="product-details">
  <a href="/products"> <i class="fas fa-arrow-left"></i> Back </a>
  <h1 class="product-name">{{ product.name }}</h1>
  <p class="product-price">Price: R${{ product.price | number: "1.2-2" }}</p>
  <img
    class="product-image"
    [src]="product.imageStorageUrl"
    alt="Imagem do Produto"
  />
  <p class="info">Stock: {{ product.productQuantity }} unit(s)</p>
  <div *ngIf="logged" class="quantity-container">
    <p class="info">Quantity:</p>
    <input
      type="number"
      [(ngModel)]="quantityToAdd"
      min="1"
      step="1"
      class="quantity-input"
    />
    <button
      (click)="addToCart(userId, product, quantityToAdd)"
      class="add-button"
    >
      <i class="fa-solid fa-cart-shopping"></i>
      Add to the shopping cart
    </button>
  </div>

  <div class="product-description" *ngIf="product.description">
    <p class="description-title">DESCRIPTION</p>
    <p>
      {{ product.description }}
    </p>
  </div>

  <p class="product-rating">Rated: 4.5/5</p>
  <h2>Reviews</h2>
  <div class="buyer-comments">
    <div class="comment" *ngFor="let review of reviews">
      <p class="comment-text">{{ review.reviewText }}</p>
      <p class="comment-user">{{ review.username }}</p>
    </div>

    <button (click)="openModal()" *ngIf="logged" class="add-button">
      Did you like the product? Rate it!
    </button>
  </div>
</div>
<app-footer></app-footer>
