@import "~@fortawesome/fontawesome-free/css/all.min.css";

.product-details {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.product-name {
  font-size: 24px;
}

.product-price {
  font-size: 18px;
  color: #e7a53c;
}

.product-image {
  max-width: 100%;
  margin-top: 20px;
}

.product-description {
  margin-top: 20px;
}

.product-rating {
  margin-top: 10px;
}

.buyer-comments {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment-user {
  font-weight: bold;
}

.comment-text {
  margin-top: 5px;
}

.quantity-container {
  height: 38px;
  margin-bottom: 2rem;
}

.quantity-input {
  margin-right: 1rem;
  height: 100%;
  width: 4rem;
}

.add-button {
  font-size: 16px;
  padding: 10px;
  background-color: var(--yellow);
  color: #000000;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.add-button:hover {
  background-color: #ad8b4a;
}
