.purchase-history {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 20px;
  flex: none; /* Desativa o flex do pai */
}

.purchase-item {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza itens verticalmente */
}

.product-image {
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center; /* Centraliza a imagem verticalmente */
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantém a proporção da imagem sem distorção */
}

.product-details {
  padding: 10px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 10px 0; /* Adiciona margem na parte superior e inferior do título */
}

h3 {
  font-size: 18px;
  margin: 5px 0; /* Adiciona margem na parte superior e inferior do subtítulo */
}

p {
  margin: 5px 0; /* Adiciona margem na parte superior e inferior do parágrafo */
}
