.p-dataView {
  margin: 20px;
}

/* Estilos para o cabe?alho do p-dataView */
.p-dataView header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-input-icon-left {
  margin-right: 10px;
}

/* Estilos para o campo de pesquisa no cabe?alho */
.p-inputText {
  width: 200px;
}

/* Estilos para os itens do p-dataView em layout de grade */
.product-grid-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.product-grid-item h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product-grid-item p {
  margin: 5px 0;
}

/* Estilos para o layout de grade */
.layout-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.container {
  width: 900px;
}

/* Estilos espec?ficos para telas menores (responsividade) */
@media (max-width: 767px) {
  .product-grid-item {
    width: 100%;
  }
}
