<div class="container">
  <div class="registration-form">
    <form [formGroup]="infoForm" (ngSubmit)="editInfos()" #formDir="ngForm">
      <label class="address-label">{{ addressLabel }}:</label>
      <input
        type="text"
        id="street"
        name="street"
        placeholder="{{ streetLabel }}"
        formControlName="street"
        [(ngModel)]="streetValue"
        required
      />
      <input
        type="number"
        id="streetNumber"
        name="streetNumber"
        placeholder="{{ streetNumberLabel }}"
        formControlName="streetNumber"
        min="0"
        [(ngModel)]="streetNumberValue"
        required
      />
      <input
        type="text"
        id="city"
        name="city"
        placeholder="{{ cityLabel }}"
        [(ngModel)]="cityValue"
        required
        formControlName="city"
      />
      <input
        type="text"
        id="state"
        name="state"
        placeholder="{{ stateLabel }}"
        [(ngModel)]="stateValue"
        formControlName="state"
        required
      />
      <input
        type="text"
        id="country"
        name="country"
        placeholder="{{ countryLabel }}"
        [(ngModel)]="countryValue"
        formControlName="country"
        required
      />
      <button type="submit">{{ submitButtonText }}</button>
    </form>
  </div>
</div>
