<div id="page-container">
  <app-header></app-header>
  <section class="cart-items" *ngIf="logged && !isCartEmpty">
    <div class="cart-item" *ngFor="let product of products">
      <!-- <img src="product1.jpg" alt="Produto 1" /> -->
      <div class="item-details">
        <h2>Name: {{ product.name }}</h2>
        <p>Price: {{ product.price }}</p>
        <p>Quantity: {{ product.productQuantity }}</p>
        <button class="remove-button">-</button>
        <button class="remove-button">+</button>
      </div>
    </div>

    <div class="summary"></div>
    <h2>Cart summary</h2>
    <p>Total: {{ totalPrice }}</p>
    <button class="checkout-button" (click)="buyOrder()">
      Complete purchase
    </button>
  </section>

  <section class="cart-message" *ngIf="!logged">
    You are not logged in and cannot access the cart.
  </section>

  <section class="empty-cart-message" *ngIf="logged && isCartEmpty">
    Your cart is empty.
  </section>
  <app-footer></app-footer>
</div>
