@import "~@fortawesome/fontawesome-free/css/all.min.css";

header {
  height: 11rem;
  background: linear-gradient(to bottom, #226694, #521ff8);
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

nav ul {
  list-style: none;
  margin-right: auto; /* Empurra o menu para a esquerda */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  gap: 20px;
}

img {
  width: 80px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-container a,
p {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  margin-left: auto;
}
