<header>
  <div class="container">
    <img src="../../../assets/logo.png" alt="logo" />
    <h1>ByteStore</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/home"
          ><i class="fa-solid fa-house" style="color: var(--yellow)"></i>
          Home</a
        >
      </li>

      <li>
        <a href="/products"
          ><i class="fa-solid fa-bag-shopping" style="color: var(--yellow)"></i>
          Products</a
        >
      </li>

      <li>
        <a href="/cart">
          <i class="fa-solid fa-cart-shopping" style="color: var(--yellow)"></i>
          Cart</a
        >
      </li>

      <li>
        <a href="/contact"
          ><i class="fa-solid fa-phone" style="color: var(--yellow)"></i>
          Contact</a
        >
      </li>
    </ul>
  </nav>
  <div *ngIf="logged" class="user-container">
    <a class="user-actions" style="cursor: default">
      <i class="fa-solid fa-user" style="color: var(--yellow)"></i> Hello,
      {{ username }}
    </a>
    <a href="/settings" class="user-actions"
      ><i class="fa-solid fa-gears" style="color: var(--yellow)"></i> My
      account</a
    >
    <a href="#" (click)="signOut()" class="user-actions"
      ><i
        class="fa-solid fa-right-from-bracket"
        style="color: var(--yellow)"
      ></i>
      Sign Out</a
    >
  </div>
  <div *ngIf="!logged" class="user-container">
    <a href="/login"
      ><i class="fa-solid fa-user" style="color: var(--yellow)"></i> Login</a
    >
  </div>
</header>
