.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.content {
  flex-grow: 1;
  display: flex;
}

.menu {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
  height: 2.3rem;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}

.router-container {
  background-color: #777acf;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.router-container2 {
  background-color: #777acf;
  display: flex;
  justify-content: center;
  align-items: center;
}
