.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
}

.menu {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

/* Estilos para os links do menu */
.menu a {
  text-decoration: none;
  color: #fff;
}

.router-container {
  background-color: #777acf;
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

#page-container {
  position: relative;
}
