<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="menu">
      <ul>
        <li><a routerLink="info">Change address</a></li>
        <li><a routerLink="change-password">Change password</a></li>
        <li><a routerLink="purchase-history">Purchase history</a></li>
      </ul>
    </div>
    <div *ngIf="isRouterOutletEmpty()" class="router-container">
      <img src="../../../../assets/avatar.svg" />
    </div>
    <div *ngIf="!isRouterOutletEmpty()" class="router-container">
      <router-outlet name="settings"></router-outlet>
    </div>
  </div>
</div>
<app-footer></app-footer>
