<app-header></app-header>
<main>
  <div class="image-1">
    <p>
      Bem-vindo à ByteStore, sua fonte confiável para todos os produtos de
      tecnologia que você precisa. Nós nos dedicamos a fornecer as últimas
      inovações e os melhores produtos de TI para nossos clientes.
    </p>
    <img src="../../../../assets/home1.jpg" />
  </div>
  <div class="image-1">
    <img src="../../../../assets/home2.jpg" />
    <p>
      Nossa missão é tornar a tecnologia acessível a todos, oferecendo produtos
      de alta qualidade a preços competitivos. Acreditamos que a tecnologia pode
      melhorar a vida das pessoas e estamos comprometidos em fazer parte desse
      progresso.
    </p>
  </div>
</main>
<app-footer></app-footer>
