<div id="page-container">
  <app-header></app-header>
  <main>
    <div class="image-text-container">
      <div class="text-container">
        <p>
          Welcome to ByteStore, your trusted source for all the technology
          products you need. We are dedicated to providing the latest
          innovations and the best IT products to our customers.
        </p>
      </div>
      <img src="../../../../assets/home1.jpg" alt="Image 1" class="image" />
    </div>
    <div class="image-text-container">
      <img src="../../../../assets/home2.jpg" alt="Image 2" class="image" />
      <div class="text-container">
        <p>
          Our mission is to make technology accessible to everyone by offering
          high-quality products at competitive prices. We believe that
          technology can improve people's lives, and we are committed to being a
          part of that progress.
        </p>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
