<app-header></app-header>
<section class="about">
  <h2>Sobre Nós</h2>
  <p>
    Bem-vindo à ByteStore, sua fonte confiável para todos os produtos de
    tecnologia que você precisa. Nós nos dedicamos a fornecer as últimas
    inovações e os melhores produtos de TI para nossos clientes.
  </p>
</section>
<section class="mission">
  <h2>Nossa Missão</h2>
  <p>
    Nossa missão é tornar a tecnologia acessível a todos, oferecendo produtos de
    alta qualidade a preços competitivos. Acreditamos que a tecnologia pode
    melhorar a vida das pessoas e estamos comprometidos em fazer parte desse
    progresso.
  </p>
</section>
<app-footer></app-footer>
