main {
  background-color: #ffffff;
  padding: 1.1rem 5rem 5rem 5rem;
}

.image-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}

.image {
  max-width: 45%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-container {
  flex: 1;
  padding: 1.5rem;
}

p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.4;
}

section {
  margin-bottom: 2rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/* Adiciona uma animação de fade-in aos textos */
p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.4;
  animation: slideIn 1s ease-in-out;
}

.image {
  max-width: 45%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
