<div id="page-container">
  <app-header></app-header>

  <section class="cart-items">
    <div class="cart-item">
      <!-- <img src="product1.jpg" alt="Produto 1" /> -->
      <div class="item-details">
        <h2>Produto 1</h2>
        <p>R$ 50,00</p>
        <button class="remove-button">Remover</button>
      </div>
    </div>
  </section>
  <section class="summary">
    <h2>Resumo do Carrinho</h2>
    <p>Total: R$ 50,00</p>
    <button class="checkout-button">Finalizar Compra</button>
  </section>
  <app-footer></app-footer>
</div>
