@import "~@fortawesome/fontawesome-free/css/all.min.css";

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--purple);
  background-size: 50px 50px;
}

.login-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box a {
  color: var(--purple);
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
}

.login-box form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.login-box form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box form button {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  background-color: var(--purple);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-box form button:hover {
  background-color: #194f74;
}

.signup-warning {
  margin-top: 12px;
  font-size: 14px;
}

.signup-warning a {
  font-size: 14px;
}

i {
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
  color: #007bff;
}

.password-input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajuste a distância da borda direita conforme necessário */
  transform: translateY(-50%);
  cursor: pointer;
}
