<div class="login-container">
  <div class="login-box">
    <a routerLink="/home"> <i class="fas fa-arrow-left"></i> Home page </a>
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
      <label for="username"><i class="fa-solid fa-user"></i> Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Username"
        formControlName="username"
      />

      <label for="password"><i class="fa-solid fa-key"></i> Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        formControlName="password"
      />

      <button type="submit" class="submit-button">Login</button>
    </form>
    <div class="signup-warning">
      <label>Don't have an account? </label>
      <a routerLink="/signup">Signup now</a>
    </div>
  </div>
</div>
