.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--purple);
  background-size: 50px 50px;
}

.login-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-box a {
  color: var(--purple);
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
}

.login-box form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.login-box form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box form button {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  background-color: var(--purple);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-box form button:hover {
  background-color: #194f74;
}

.signup-warning {
  margin-top: 12px;
  font-size: 14px;
}

.signup-warning a {
  font-size: 14px;
}

i {
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
  color: #007bff;
}

.password-input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajuste a distância da borda direita conforme necessário */
  transform: translateY(-50%);
  cursor: pointer;
}

.error-span {
  color: red;
  margin-top: -0.4rem;
  margin-bottom: 0.4rem;
}

.group-image {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 245px;
  width: 30rem;
}

.duo-image {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 245px;
  width: 30rem;
}

/* Adicione a seguinte regra de media query no final do seu arquivo CSS */
@media only screen and (max-width: 480px) {
  .login-container {
    min-height: 100vh;
  }

  .login-box {
    width: 100%;
    max-width: none; /* Remova a limitação máxima de largura */
    height: 100vh; /* Ocupar a altura da tela inteira */
    padding: 20px; /* Adicionado espaçamento interno ao .login-box */
    box-sizing: border-box; /* Garante que as bordas e o preenchimento não aumentem a largura/altura total */
  }

  .login-box h2 {
    margin-bottom: 15px; /* Aumenta o espaçamento abaixo do título */
  }

  .login-box form label {
    margin-bottom: 8px; /* Ajusta o espaçamento abaixo das labels */
  }

  .login-box form input {
    margin-bottom: 15px; /* Ajusta o espaçamento abaixo dos inputs */
  }

  .signup-warning {
    margin-top: 15px; /* Ajusta o espaçamento acima do aviso de signup */
    margin-bottom: 0; /* Remove o espaçamento abaixo do aviso de signup */
  }

  .error-span {
    margin-top: 10px; /* Ajusta o espaçamento acima das mensagens de erro */
    margin-bottom: 10px; /* Ajusta o espaçamento abaixo das mensagens de erro */
  }

  .group-image,
  .duo-image {
    display: none;
  }
}

@media only screen and (max-width: 1450px) {
  /* Hide the images in smaller screens */
  .group-image,
  .duo-image {
    display: none;
  }
}
