footer {
  margin-top: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2a80b9;
  color: white;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to top, #2a80b9, white);
}
